@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 61.04px;
}

h2 {
  font-size: 48.03px;
}

h3 {
  font-size: 25.63px;
}

h4 {
  font-size: 22.78px;
}

h5 {
  font-size: 20.25px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 1rem;
}

.smallp {
  font-size: 12.8px;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: white;
  color: rgb(34, 30, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero-img {
  position: relative;
}
.headText {
  margin-bottom: 2px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgba(3, 3, 24, 0.918);
}

header #logo {
  height: 40px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: rgb(12, 12, 12);
  text-decoration: none;
}

/* Buttons and Main Content */
button {
  height: 55px;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.9rem;
  border-radius: 50px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

/* Hero Section Styling */
main {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-hero {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.imageHeroSec {
  margin-top: -10rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  mix-blend-mode: darken;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: inset 0px 0px 20px 50px #fff;
}

/* #hero button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #76dcb8;
    color: rgb(8, 7, 7);
    border: none;
    cursor: pointer;
} */

header nav button {
  display: none;
  border: none;
  background-color: unset;
  font-size: 2rem;
}

.navBar {
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: none !important;
  background-color: #006490;
  height: 100vh;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}
#close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
}
.mobile-nav ul {
  list-style: none;
  text-decoration: none;
}
.mobile-nav li a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}
.mobile-nav li {
  padding-top: 80px;
  padding-left: 0px;
}

#accurates-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  background-image: url("/Images/aboutus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  padding: 10rem 0;
  /* Optional: Add some padding for better spacing */
}

.accurates-sec-1 {
  max-width: 60%;
}

.accurates-text-1 {
  text-align: right;
  font-weight: 900;
  font-size: 70px;
}

.accurates-text-2 {
  display: none;
}

.accurates-sec-2 {
  max-width: 40%;
}

.accurates-sec-2 p {
  text-align: left;
}
.active-nav {
  display: none !important;
}
.active {
  display: block !important;
}
.centered-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("/Images/Ab. Accurates AI Marque.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accurates-sec-1,
.accurates-sec-2 {
  z-index: 2;
}

#ppe-detection {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: row;
  gap: 1rem;
}

.ppe-sec-1 {
  margin-left: 8rem;
  text-align: left;
  max-width: 60%;
}

.ppe-sec-1 h2 {
  margin-bottom: 10px;
}

.ppe-sec-1 p {
  text-align: left;
}

#facial-main-sec {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: row;
  gap: 1rem;
}

.facial-sec-1 {
  text-align: left;
  max-width: 60%;
}

.facial-sec-1 {
  margin-right: 10rem;
}

.imageFacialSec {
  max-height: fit-content;
  max-width: 40%;
}

.imagePpeSec-mobile,
.imageFacialSec-mobile,
.imagefleet-mobile {
  display: none;
}

#fleet-management {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: row;
  position: relative;
}

.fleet-management-sec1 p {
  text-align: left;
}

.fleet-management-sec1 h2 {
  margin-bottom: 10px;
}

.fleet-management-sec1 {
  text-align: left;
  padding-left: 20px;
  margin-left: 8rem;
}

.facial-sec-1 p {
  text-align: left;
}

.facial-sec-1 h2 {
  margin-bottom: 10px;
}

.image-container {
  position: absolute;
  overflow: hidden;
  right: 0;
  z-index: -1;
}

.imagefleet {
  max-width: 100%;
  max-height: 45rem;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  /* Adjust width of blurred area */
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}
@media (max-width: 1500px) {
  .imageTabSec {
    top: -83px !important;
    right: 0px !important;
    width: 89% !important;
  }
}
@media (max-width: 1400px) {
  .imageTabSec {
    top: 48px !important;
    right: 32px !important;
    width: 86% !important;
  }
  /* footerr code */
  .footer-sec-list {
    list-style: none;
    text-align: center;
  }
}
.footer-sec-list {
  text-align: left !important;
}
@media (max-width: 768px) {
  #tab-main-sec {
    height: 60vh;
    margin-top: 3rem;
    position: relative !important;
    background-size: auto !important;
  }

  .imageTabSec {
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
    transform: rotate(0deg);
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100% !important;
    position: absolute !important;
    width: 10%;
    height: 43rem;
  }
  .last-sec {
    flex-direction: column-reverse;
  }
}

#tab-main-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-image: url("/Images/Frame\ 11.png");
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  background-size: cover;
}

.imageTabSec {
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  transform: rotate(0deg);
  position: absolute;
  top: -86px;
  right: 69px;
  width: 78%;
}

@media (max-width: 768px) {
  #product-main-sec {
    height: 100vh !important;
    margin-top: 0rem !important;
  }

  .productSec {
    max-height: 100%;
    max-width: 80% !important;
    object-fit: cover;
  }

  #product-main-sec h2 {
    font-size: 36.03px !important;
  }

  #product-main-sec .font-style3 {
    font-size: 18px !important;
  }

  #product-main-sec p {
    padding: 10px;
  }

  .btn-product-sec {
    display: flex;
    flex-direction: column !important;
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .btn-product-sec .button-style2 {
    border-radius: 80px;
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 0px;
  }

  .btn-product-sec .button-style1 {
    border-radius: 80px;
    height: 40px;
    padding: 0 1rem;
  }
  .footer-sec {
    display: none;
  }
}

#product-main-sec {
  position: relative;
  height: 120vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.productSec {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.product-content {
  padding-top: 40px;
}

#product-main-sec h2 {
  margin-top: 1rem;
}

/* Footer Styling */
footer {
  margin-top: 1rem;
  background-color: #006490;
  color: white;
  padding: 5rem;
  gap: 183px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

/* Grid Layout for Footer Sections */
.footer-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

/* Footer Headings */
.footer-sec h6 {
  font-size: 10px;
  color: #87b6cb;
  margin-bottom: 0.5rem;
}

/* Footer Links */
.footer-sec-list {
  list-style: none;
  text-align: center;
}

.footer-sec-02 {
  display: none;
}
.footer-sec-list li {
  padding: 10px;
}

.footer-sec-list li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
}

.last-sec {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  gap: 10px;
}

.last-sec p {
  font-size: 8px;
}

.footer-end1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end1 li {
  padding-left: 32px;
  list-style: none;
  font-size: 14px;
  color: #87b6cb;
}

.footer-end2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.footer-logo {
  margin: auto;
  display: grid;
  height: 100px;
  padding-top: 30px;
}

.footer-end2 i {
  padding-left: 15px;
}

.footer-head {
  font-size: 13px;
  color: #87b6cb;
  padding-bottom: 15px !important;
}

.button-style1 {
  background: #006590;
  border: 2px solid #006590;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-end1 {
    flex-direction: column;
  }
  .footer-end2 {
    justify-content: center;
  }
  .footer-sec-list {
    text-align: center !important;
  }
  .footer-sec-list li {
    padding: 20px;
  }
  .footer-end2 i {
    padding: 20px;
  }
  .footer-end1 li {
    padding-left: 0px;
    list-style: none;
    font-size: 10px;
    color: #87b6cb;
    padding-top: 22px !important;
  }
  footer {
    padding: 3rem;
  }
}

.button-style2 {
  background: none;
  border: 2px solid #006590;
  color: #006590;
}

.button-style3 {
  background: #006590;
  border: 2px solid #006590;
  color: white;
  padding: 0 1.3rem;
  height: 50px;
}

.button-style4 {
  border: none;
  background: none;
  color: black;
  font-size: 1.5rem;
  padding: 0;
}

.button-know-more {
  border-radius: 50px;
  background: #006590;
  border: 2px solid #006590;
  color: white;
  font-size: 16px;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-know-more::after {
  content: "\2192";
  /* Right arrow Unicode */
  margin-left: 8px;
}

li {
  padding-left: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-weight: 800;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-content-p {
  text-align: center;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.8px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 25px;
  max-width: 500px;
}

.section-content-p {
  text-align: center;
  color: #141414;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 25px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#hero {
  padding-top: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.font-style1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-style2 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 5rem;
  font-size: 3.5rem;
}

.font-style3 {
  color: #33333398;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.accurates-sec-none {
  display: none;
}

.watchDemo-margin {
  margin-left: 10px;
}

.accurates-content-p {
  color: #33333398;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 2rem;
  padding-top: 15px;
}

.about-text {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.tab-container {
  position: relative;
}

.product-content h2 {
  margin-bottom: 0px;
}

/* Mobile View - Hero Section */
@media (max-width: 768px) {
  button {
    height: 45px;
    padding: 0 2rem;
  }
  #hero::after {
    display: none;
  }
  #hero {
    padding-top: 2rem;
  }
  .hero-text-container {
    padding: 0 2rem;
    gap: 1rem;
  }
  .hero-content-p {
    font-size: 0.9rem;
  }

  .btn-hero {
    flex-direction: column;
    gap: 0.5rem;
  }

  .imageHeroSec {
    height: 500px;
    margin-top: -4rem !important;
  }

  .watchDemo-margin {
    margin-left: 0px;
  }

  .footer-sections {
    gap: 1px;
  }
  footer {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .accurates-text-1 {
    font-size: 32px;
  }

  .accurates-content-p {
    font-size: 14px;
  }
}

/* Mobile View - PPE Section */
@media (max-width: 768px) {
  #ppe-detection {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 15px;
    height: auto;
    margin-top: 3rem;
  }
  .ppe-sec-1 {
    margin-left: 0rem;
  }
  .ppe-sec-1 {
    margin-left: 0;
    max-width: 100%;
    text-align: left;
  }
  .ppe-sec-1 {
    margin-left: 0rem !important;
  }

  .ppe-sec-1 h2 {
    font-size: 35px !important;
    padding-top: 0px;
    margin-top: 0px;
  }

  .imagePpeSec {
    display: none;
  }

  .imagePpeSec-mobile {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    display: block;
  }

  .button-know-more {
    font-size: 18px !important;
  }
}
@media (max-width: 1150px) {
  .imagePpeSec {
    height: 60vh !important;
  }
}
@media (max-width: 1000px) {
  .ppe-sec-1 {
    margin-left: 3rem;
  }
}

@media (max-width: 500px) {
  .section-content-p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .about-text {
    flex-direction: column;
    align-items: flex-start;
  }

  #accurates-sec {
    background-position: right;
    padding: 5rem 2rem;
  }

  .accurates-text-1 {
    display: none;
  }

  .accurates-text-2 {
    display: block;
  }

  .accurates-sec-2 {
    max-width: 100%;
  }

  .centered-image {
    display: none;
  }

  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .imageHeroSec {
    margin-top: 0;
  }

  #mobileMenu {
    display: none;
  }
  .button-style3 {
    display: none;
  }

  header nav button {
    display: block;
  }

  .headText {
    font-size: 3rem;
  }
}

/* Fleet managemnt */
@media (max-width: 768px) {
  #fleet-management {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 15px;
    height: auto;
    margin-top: 3rem;
  }
  .fleet-management-sec1 {
    margin-left: 0rem !important;
  }
  .image-container {
    display: none;
  }

  .fleet-management-sec1 h2 {
    font-size: 35px !important;
    padding-top: 0px;
    margin-top: 0px;
    margin-top: 20px;
  }

  .fleet-management-sec1 {
    text-align: left;
    padding-left: 0px;
    margin-left: 0rem;
    margin-bottom: 50px;
  }

  .imagefleet-mobile {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    display: block;
  }
}
/* Mobile View - Footer Section */
